@import '../../styles/variables';
$localNeutral: $neutral-200;
$localPrimary: $primary-700;
$localText: rgba(255,255,255,1);

/*
/List Container
*/

.listWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-content: center;

}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-content: center;

  min-width: 300px;
  min-height: 300px;

  background-color: $localNeutral;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(0,0,0,1),
    rgba(0,0,0,1) 1px,
    rgba(0,0,0,0) 1px,
    rgba(0,0,0,0) 30px
    ),
    repeating-linear-gradient(
    90deg,
    rgba(0,0,0,1),
    rgba(0,0,0,1) 1px,
    rgba(0,0,0,0) 1px,
    rgba(0,0,0,0) 30px,
    rgba(0,0,0,1) 30px,
    rgba(0,0,0,1) 31px,
    rgba(0,0,0,0) 31px,
    rgba(0,0,0,0) 35px,
    );
  padding: 5%;

  border: 1px solid $localPrimary;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,.4);

  border-radius: 10px;
}

/*
/Category Container
*/

.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;

  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  margin: 2.5%;

  background-color: rgba(255,255,255,.7);
  backdrop-filter: blur(2px);
  background-blend-mode: saturation;

  border-radius: 10px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
}



/*
/Task Item Container
*/

@mixin item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  width: 100%;
  padding: 3px;
  margin: 0 10% 10px 10%;

  background-color: $localPrimary;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255,255,255,.05),
    rgba(255,255,255,.05) 1px,
    rgba(255,255,255,0) 1px,
    rgba(255,255,255,0) 30px
    ),
    repeating-linear-gradient(
    90deg,
    rgba(255,255,255,.05),
    rgba(255,255,255,.05) 1px,
    rgba(255,255,255,0) 1px,
    rgba(255,255,255,0) 30px,
    rgba(255,255,255,.05) 30px,
    rgba(255,255,255,.05) 31px,
    rgba(255,255,255,0) 31px,
    rgba(255,255,255,0) 35px,
    );

  border-bottom: 2px solid $localNeutral;
  border-right: 1px solid $localNeutral;
  border-top: 1px solid $localPrimary;
  border-left: 2px solid $localPrimary;

  border-radius: 10px;

  box-shadow: 3px 5px 5px 0 rgba(0,0,0,.4);
}

@mixin crossOut {
  content: '';
  position: absolute;
  height: 3px;
  top: 50%;
  left: 5%;

  background-color: $localNeutral;
  opacity: 0.7;
  border-radius: 10px;
  z-index: 2;
}

.listItem {
  @include item;

}
.listItemClicked {
  @include item;

  &:before {
    @include crossOut;

    animation: LineIn .4s cubic-bezier(1, 0, 0.58, 0.97) 1 forwards;

  }
}

.listItemAfter {
  @include item;

  &:before {
    @include crossOut;

    animation: LineOut .4s cubic-bezier(1, 0, 0.58, 0.97) 1 forwards;

  }
}

/*
/Text
*/

@mixin text {
  color: $localText;
  font-size: 1.2rem;
}

.categoryName {
  color: $localPrimary;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 0;
}

.categoryHeaders {
  width: 100%;
  margin: 0 5% 3px 5%;
  display: flex;
  justify-content: space-evenly;
}

.categorySubHeaders {
  @include text;
  margin: 0;
}

.description {
  @include text;
  font-weight: 200;
  text-align: left;
  margin-left: 10%;
}

.dueDate {
  @include text;
  font-weight: 700;
  text-align: right;
  margin-right: 10%;
}

/*
/Animations
*/

@keyframes LineIn {
  0% {
    width: 0%;

  }
  100% {
    width: 90%;
  }
}

@keyframes LineOut {
  0% {
    width: 90%;

  }
  100% {
    width: 0%;
  }
}
