@use 'variables' as v;

.sidebar, .category {
  // border-radius: v.$bradius;
  padding: 10px;
}
.sidebar {
  border: 1px solid black;
  position: sticky;
  top: 3rem;
  overflow-y: scroll;
  height: 80vh;
  scrollbar-width: thin;
  scrollbar-color: v.$neutral-300 v.$neutral-200;
  text-align: center;
  width: 20vw;
  background-color: v.$primary-700;
  border-radius: v.$bradius;
  
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: v.$neutral-300;
    border-radius: v.$bradius;
  }
  &::-webkit-scrollbar-thumb {
    background: v.$neutral-200;
    border-radius: v.$bradius;
  }
  h2 {
    color: v.$neutral-200;
  }
}

.category {
  border: 1px solid black;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  background-color: v.$neutral-200;
}

.active {
  background-color: v.$neutral-300;
}