/***********************************
*********  COLOR SCHEME  ***********
***********************************/
$neutral-200: #EFF6E0;
$neutral-300: #AEC3B0;
$primary-700: #124559;

/***********************************
**********    CORNERS  *************
**********************************/
$bradius: 5px;